

<link href="index.css" rel="stylesheet">




<div id="messageBox"></div>

<!-- INVOICE PANEL STARTS -->
<div id="invoicePanel">
    <h1 id="invoiceCloseBtn">close invoice</h1>
    <h1 id="invoicePrintBtn">print invoice</h1>
    <h1 id="invoiceTitle">Invoice for reservation xx-xx-xx-xxxx-xxxx</h1>

    <ul id="invoiceInfo">
        <li><h3>Reservation summary</h3></li>
        <li>Reservation placed: yyyy-mm-dd</li>
        <li>Reservation ID: xx-xx-xx-xxxx-xxxx</li>
        <li>Reservation total: EUR xxxx.xx</li>
    </ul>

    <ul id="invoiceCustomerInfo">
        <li><h3>Customer info</h3></li>
        <li>Customer ID: xxxxxxxxxx</li>
        <li>Name: xxxxxx xxxxx</li>
        <li>Address: xxxxxxxx xx</li>
        <li>Phone: xxx xxx xxxx</li>
        <li>Email: xxxxx@xxx.xxx</li>
        <li>ZIP: xxxxx</li>
    </ul>

    <ul id="invoiceBranchInfo">
        <li><h3>Branch info</h3></li>
        <li>Branch name: xxxxxxxxx</li>
        <li>Branch address: xxxxxxxxx xxx</li>
        <li>Branch phone: xxx xxx xxxx</li>
        <li>Branch email: xxxxxx@xxxxxx.xxx</li>    
    </ul>

    <div id="invoiceTablePanel">
    <table id="invoiceTable">
        <!-- INVOICE UNIT DATA -->
    </table>
</div>
    <div id="invoiceTotal">INVOICE TOTAL: 343.43€</div>
</div>
<!-- INVOICE PANEL ENDS -->




<div id="header">

    <img id="headerLogo" src="logo.png">

</div>



<div id="leftPanel">
    <ul id="menu">
        <li class="menuTitle"><img src="branch.svg"><h4>Manage Branches</h4></li>
        <a href="#" onclick="getList('branches')"><li> Branches </li></a>
        <a href="#" onclick="getList('cabin')"><li> Cabins </li></a>
        <a href="#" onclick="getList('cabin_type')"><li> Cabin Types </li></a>
        <a href="#" onclick="getList('service')"><li> Services </li></a>
        <a href="#" onclick="getList('site')"><li> Service Types </li></a>

        <li class="menuTitle"><img src="customer.svg"><h4>Manage Customers</h4></li>
        <a href="#" onclick="getList('customer')"><li> Customers </li></a>

        <li class="menuTitle"><img src="reservation.svg"><h4>Manage Reservations</h4></li>
        <a href="#" onclick="getList('reservation')"><li> Reservations </li></a>
        <a href="#" onclick="getList('accommodation')"><li> Accommodations </li></a>
        <a href="#" onclick="getList('rendered')"><li> Rendered Services </li></a>

        <li class="menuTitle"><img src="invoice.svg"><h4>Manage Invoices</h4></li>
        <a href="#" onclick="getList('invoice')"><li> Invoices </li></a>

        <li class="menuTitle"><img src="reports.svg"><h4>Reports</h4></li>
        <a href="#" onclick="openReportPanel()"><li id="reportToggleBtn"> View Reports </li></a>

        <li class="menuTitle"><img src="help.svg"><h4>About Software</h4></li>
        <a href="#" onclick="showHelp(0)"><li id="reportToggleBtn"> How to create a new reservation </li></a>

    </ul>
</div>



<div id="content">

<div id="managePanel">

    <div id="tablePanel">
        <table id="tableData">

        </table>
    </div>

    <div id="formPanel"></div>


    <div id="btnPanel">
        <select id="selectSearchKey">
        </select>
        <input id="searchFieldID" class="btnPanelField" placeholder="search criteria..." onclick="" style="width:160px;">
        <input type="button" value="search" id="" onclick="searchFromList()">
        <!--
            <input type="button" value="branches" onclick="getList('branches')">
            <input type="button" class="" value="accommodation" onclick="getList('accommodation')">
            <input type="button" value="cabin" onclick="getList('cabin')">
            <input type="button" class="" value="cabin_type" onclick="getList('cabin_type')">
            <input type="button" value="customer" onclick="getList('customer')">
        <input type="button" value="invoice" onclick="getList('invoice')">
        <input type="button" class="" value="rendered" onclick="getList('rendered')">
            <input type="button" value="reservation" onclick="getList('reservation')">
            <input type="button" value="service" onclick="getList('service')">
            <input type="button" value="site" onclick="getList('site')">

    -->

    <div id="branchSection">
        <input type="button" onclick="editItem(0,'branch')" value="new branch">
        <input type="button" onclick="editItem(0,'cabin_type')" value="new cabin_type">
        <input type="button" onclick="editItem(0,'cabin')" value="new cabin">
        <input type="button" onclick="editItem(0,'service')" value="new service">
        <input type="button" onclick="editItem(0,'site')" value="new site">
    </div>
    <div id="CustomerSection">
        <input type="button" onclick="editItem(0,'customer')" value="new customer">
        <input type="button" onclick="editItem(0,'reservation')" value="new reservation">
        <input type="button" onclick="editItem(0,'accommodation')" value="new accommodation">
        <input type="button" onclick="editItem(0,'rendered')" value="new rendered">
        <input type="button" onclick="editItem(0,'invoice')" value="new invoice">
    </div>



        </div>

    <!--
    <div id="btnPanel">
        <input type="button" onclick="editItem(0,'branch')" value="new branch">
        <input type="button" onclick="editItem(0,'accommodation')" value="new accommodation">
        <input type="button" onclick="editItem(0,'cabin')" value="new cabin">
        <input type="button" onclick="editItem(0,'cabin_type')" value="new cabin_type">
        <input type="button" onclick="editItem(0,'customer')" value="new customer">
        <input type="button" onclick="editItem(0,'invoice')" value="new invoice">
        <input type="button" onclick="editItem(0,'rendered')" value="new rendered">
        <input type="button" onclick="editItem(0,'reservation')" value="new reservation">
        <input type="button" onclick="editItem(0,'service')" value="new service">
        <input type="button" onclick="editItem(0,'site')" value="new site">
    </div>
    -->
</div>



<div id="reportingPanel">
    <div id="btnPanel2">
        <select class="reportDropDown" id="reportCat">
            <option>Select category</option>
            <option value="invoice">Invoice</option>
            <option value="accommodation">Accommodation</option>
            <option value="rendered">Rendered services</option>
            <option value="services">Services</option>
            <option value="cabins">Cabins</option>
            <option value="customers">Customer</option>
        </select>

        <select class="reportDropDown" id="selectedBranch">
            <option>Select branch</option>
        </select>

        <input data-toggle="datepicker" autocomplete="off" class="reportDateField" id="reportFromDate" placeholder="from... yyyy-mm-dd">
        <input data-toggle="datepicker" autocomplete="off" class="reportDateField"id="reportToDate" placeholder="to... yyyy-mm-dd">

        <input class="reportBtn" type="button" value="get report" onclick="getReport()">
    </div>

    <div id="reportPanel">

        <table id="tableReport"></table>
    </div>
</div>





</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<link  href="/dist/datepicker.css" rel="stylesheet">
<script src="/dist/datepicker.js"></script>
<script src="index.js"></script>
