* {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background: #f7f7f7;
    color: #444;
    min-width: 1900px;
    
}

a {
    color: #e84c3d;
    font-weight: bold;
    cursor: pointer;

}

td a {
    cursor: pointer;
}

#messageBox {
    float: left;
    position: absolute;
    width: 60%;
    height: auto;
    line-height: 24px;
    font-size: 13px;
    overflow: auto;
    background: rgb(200,100,100);
    word-wrap: break-word;
    padding: 10px;
    color: #fff;
    border: 1px solid #777;
    text-shadow: 1px 1px 1px #000;
    display: hidden;
    margin-top: 200px;
    margin-left: 20%;
}

#invoicePanel {
    float: left;
    position: absolute;
    width: 794px;
    height: 1123px;
    background: #fff;
    border: 1px solid #ddd;

    margin: 50px;
    display: none;
}


#invoiceTitle, #invoiceCloseBtn, #invoicePrintBtn  {
    float: left;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
}
#invoiceCloseBtn, #invoicePrintBtn {
    font-size: 14px;
    color: red;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
#invoicePanel ul {
    float: left;
    width: 300px;
    height: auto;
    border-left: 4px solid rgb(100,100,255);
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 100px;
}
#invoicePanel li {
    float: left;
    width: 290px;
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
    font-size: 12px;
}


#invoiceInfo {

}
#invoiceCustomerInfo {

}
#invoiceBranchInfo {

}

#invoiceTablePanel {
    float: left;
    padding: 20px 0;
    margin: 40px 0;
    background: #eff7ef;
    padding-right: 30px;

}

#invoiceTable {
    float: left;
    border-collapse: collapse;
    width: 734px;
    margin-left: 30px;
}
#invoiceTable tr {
    width: 734px;
    height: 35px;
    text-align: left;
}
#invoiceTable th {
    border-bottom: 1px solid #333;
    font-size: 13px;
}
#invoiceTable th, #invoiceTable td {

    
}
#invoiceTable td {
    font-size: 12px;
}

#invoiceTotal {
    float: left;
    text-align: right;
    width: 604px;
    margin-left: 30px;
    font-size: 13px;
    font-weight: bold;
}


#header {
    width: 100%;
    height: 80px;
    background: #16a086;
    border-bottom: 1px solid #093f35;

}
#headerLogo {
    width: 220px;
    height: 80px;
    padding: 0 10px;
    background: #127e6a;
    border-right: 1px solid #093f35;
}



#leftPanel {
    float: left;
    width: 240px;
    height: 100%;
    background: #222d32;
    border-right: 1px solid #093f35;

}
#menu {
    float: left;
}
#menu li {
    float: left;
    width: 220px;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #2c3b41;
    font-size: 12px;
    padding-left: 20px;
}
#menu li:hover {
    background: #2c3b41;
}
#menu li h4 {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
}
#menu .menuTitle:hover {
    background: #1e282c;
}
#menu .menuTitle {
    height: 50px;
    line-height: 50px;
    width: 230px;
    margin-left: -10px;
    background: #1e282c;
    color: #ddd;
}
#menu .menuTitle img {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
}



#content {
    float: left;
    width: 1600px;
    padding: 20px;
}


#tablePanel {
    float: left;
    width: 70%;
    height: 600px;
    background: #fff;
    border: 1px solid #ddd;
    overflow-y: scroll;
}
#tableData {
    float: left;
    border-collapse: collapse;
    width: 100%;

}
#tableData tr {

}
#tableData tr:hover {
    background: rgb(240,240,240);
}
#tableData th, #tableData td {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #ddd;
}
#tableData th {
    background: #1bbc9b;
    color: #fff;

    padding-top: 10px;
    padding-bottom: 10px;    
    padding-left: 5px;
    border: 1px solid #093f35;
    text-shadow: 1px 1px 1px #333;
}
#tableData td {
    font-size: 11px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}


#formPanel {
    float: left;
    width: 25%;
    height: 580px;
    padding-top: 20px;
    background: #fff;
    margin-left: 20px;
    border: 1px solid #ddd;
}
#formPanel li {
    float: left;
    width: 400px;
    height: 40px;
}
#formPanel span {
    float: left;
    width: 160px;
    padding-left: 10px;
    line-height: 40px;
    font-size: 12px;
}
#formPanel .formTxtField {
    float: left;
    width: 210px;
    height: 30px;
    padding-left: 10px;
    margin-top: 5px;
}
#formSubmitBtn {
    float: left;
    width: 100px;
    height: 40px;
    margin: 40px 0 0 150px;
}
#formPanel select {
    float: left;
    width: 210px;
    height: 30px;
    padding-left: 10px;
    margin-top: 5px;
}

#selectSearchKey {
    float: left;
    padding: 5px;
    margin-top: 15px;
    margin-left: 5px;
}

#btnPanel, #btnPanel2 {
    float: left;
    width: 1542;
    height: 60px;
    background: #f1f1f1;
    margin-top: 20px;
    border: 1px solid #ddd;
    line-height: 60px;
}
#btnPanel span {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}
#btnPanel input {
    float: left;
    padding: 5px;
    margin-top: 15px;
    margin-left: 5px;
}
#btnPanel .btnPanelField {
    width: 100px;
}

#branchSection {
    float: right;
    background: #79bd9a;
    height: 60px;
    padding-right: 10px;
    padding-left: 5px;
}
#CustomerSection {
    float: right;
    background: #cff09e;
    height: 60px;
    padding-right: 10px;
    padding-left: 5px;
}


.reportDropDown {
    float: left;
    height: 30px;
    padding-left: 10px;
    margin-left: 15px;
    margin-top: 15px;
}
.reportDateField {
    float: left;
    height: 30px;
    padding-left: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

.reportBtn {
    float: left;
    height: 30px;
    width: 100px;
    margin-left: 15px;
    margin-top: 15px;
}



#reportPanel {
    float: left;
    width: 1542px;
    height: 600px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}



#tableReport {
    float: left;
    width: 1000px;
    height: auto;
    overflow: auto;
    background: #fff;
    border: 1px solid #ddd;
}
#tableReport {
    float: left;
    border-collapse: collapse;
    width: 100%;

}
#tableReport tr {
    width: 100px;
    height: 30px;
}
#tableReport tr:hover {
    background: rgb(240,240,240);
}
#tableReport th, #tableReport td {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #ddd;
    height: 30px;
}
#tableReport th {
    background: #1bbc9b;
    border: 1px solid #093f35;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    padding: 10px 20px 10px 10px;
}
#tableReport td {
    font-size: 11px;
    padding: 5px 20px 5px 10px;
}



.brokenFeature {
    background: rgb(200,100,100);
}


