
* {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial;
    background: #f7f7f7;
    color: #444;
    min-width: 794px;
    max-width: 794px;
    min-height: 1123px;
    max-height: 1123px;
}


#invoicePanel {
    float: left;
    position: absolute;
    width: 794px;
    height: 1123px;
    background: #fff;
    border: 1px solid #ddd;

    margin: 50px;
    display: none;
}


#invoiceTitle, #invoiceCloseBtn, #invoicePrintBtn  {
    float: left;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
}
#invoiceCloseBtn, #invoicePrintBtn {
    font-size: 14px;
    color: red;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
ul {
    float: left;
    width: 300px;
    height: auto;
    border-left: 4px solid rgb(100,100,255);
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 100px;
}
li {
    float: left;
    width: 290px;
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
    font-size: 12px;
}


#invoiceInfo {

}
#invoiceCustomerInfo {

}
#invoiceBranchInfo {

}

#invoiceTablePanel {
    float: left;
    padding: 20px 0;
    margin: 40px 0;
    background: #eff7ef;
    padding-right: 30px;

}

#invoiceTable {
    float: left;
    border-collapse: collapse;
    width: 734px;
    margin-left: 30px;
}
#invoiceTable tr {
    width: 734px;
    height: 35px;
    text-align: left;
}
#invoiceTable th {
    border-bottom: 1px solid #333;
    font-size: 13px;
}
#invoiceTable th, #invoiceTable td {

    
}
#invoiceTable td {
    font-size: 12px;
}

#invoiceTotal {
    float: left;
    text-align: right;
    width: 604px;
    margin-left: 30px;
    font-size: 13px;
    font-weight: bold;
}